
.fields {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	width: 100%;
	max-width: 500px;
}
.streetAndNumber {
	display: flex;
	gap: 16px;
}

@media (max-width: 480px) {
	.streetAndNumber {
		flex-direction: column;
		gap: 8px;
	}
}

.fields > div {
	margin: 8px 0;
}
.errorMessage {
	text-align: center;
	color: var(--error-message);
	font-size: 1.4rem;
	padding: 0;
}

.apiError {
  color: red;
  font-size: 14px;
  margin-bottom: 16px;
}