:root {
	--main-background-color: #D3D3D3;
	--error-message: red;
	--white: white;
	--gray: #5F5F5F;
	--light-gray-border: #ddd;
	--light-gray: #f2f2f2;
	--purple: #5E17EB;
	--light-purple: #5e17ebb6;
	--red: #FF0000;
	--green: green;
	--overlay: rgba(0, 0, 0, 0.5)
}