.main {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 0 24px;
}

.cards {
	display: flex;
	gap: 24px;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: fit-content;
}