.finance {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.financeType {
	display: flex;
	gap: 4px;
	color: var(--gray);
	align-items: center;
	font-size: 1.6rem;
	font-weight: bold;
	font-family: "Noto Sans", sans-serif;
}

.financeData {
	padding: 24px;
	width: 100%;
	background-color: var(--white);
	border-radius: 8px;
}