.tenantData {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: var(--gray)
}

.descriptonList {
	display: flex;
	flex-wrap: wrap;
}

.descriptonList dt, dd {
	flex: 1 1 50%;
	margin: 0;
	font-size: 1.4rem;
}
dt {
	font-weight: bold;
}

.cards {
	display: flex;
	gap: 16px;
}